boto3==1.9.47
botocore==1.12.47
certifi==2018.10.15
chardet==3.0.4
docutils==0.14
idna==2.7
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.1.0
Pillow==5.3.0
Pygments==2.2.0
python-dateutil==2.7.5
requests==2.20.1
s3transfer==0.1.13
selenium==3.141.0
six==1.11.0
tkinterhtml==0.7
ttkthemes==2.2.0
urllib3==1.26.5
